<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="myCS" connectionString='Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="C:\WEEZY\IOOP\IOOP GROUP 2 ASSIGNMENT\Group2_Assignment\ETC_DB.mdf";Integrated Security=True'
		providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>